body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padx1{
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt{
  margin-top: 2rem;
}

.mb{
  margin-bottom: 1rem;
}

.fz20{
  font-size: 20px;
}

.todo label{
  cursor: pointer; 
}

.todo.completed span{
  text-decoration: line-through;
}

.label_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}